In [1]:
import pandas as pan

In [2]:
data = pan.read_csv('bookings.csv', sep='^', error_bad_lines=False)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [4]:
data.head(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1.0,2013.0,3.0,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1.0,2013.0,3.0,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1.0,2013.0,3.0,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1.0,2013.0,3.0,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1.0,2013.0,3.0,SYDA82546

In [5]:
pax_airport = pan.DataFrame(data.groupby('arr_port').sum())

In [6]:
final_tab = pan.DataFrame(pax_airport, columns=['pax']).sort_values(by ='pax',ascending=0)

In [7]:
final_tab.head(10)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

In [8]:
data_cities = pan.read_csv('airports_geonames_only_clean.csv' ,sep='^', error_bad_lines=False, header = None)

In [9]:
data_cities.columns = ["arr_port", "CityName", "Abbrev2", "Cntry_Abb", "Country", "val1", "val2"]

In [10]:
data_cities.head(5)

,arr_port,CityName,Abbrev2,Cntry_Abb,Country,val1,val2
0,AUH,Abu Dhabi International Airport,AUH,AE,United Arab Emirates,24.432972,54.651138
1,AZI,Abu Dhabi Bateen Airport,AUH,AE,United Arab Emirates,24.428333,54.458084
2,AAN,Al Ain International Airport,AAN,AE,United Arab Emirates,24.261667,55.609167
3,DXB,Dubai International Airport,DXB,AE,United Arab Emirates,25.252778,55.364444
4,FJR,Fujairah,FJR,AE,United Arab Emirates,25.112225,56.323964

In [43]:
whole_data = pan.merge(data, data_cities, right_index=True, left_index=True , how='outer')

In [49]:
whole_data.head(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,year,month,oid,arr_port_y,CityName,Abbrev2,Cntry_Abb,Country,val1,val2
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,2013.0,3.0,NULL,AUH,Abu Dhabi International Airport,AUH,AE,United Arab Emirates,24.432972,54.651138
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,2013.0,3.0,NULL,AZI,Abu Dhabi Bateen Airport,AUH,AE,United Arab Emirates,24.428333,54.458084
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,2013.0,3.0,NULL,AAN,Al Ain International Airport,AAN,AE,United Arab Emirates,24.261667,55.609167
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,2013.0,3.0,SYDA82546,DXB,Dubai International Airport,DXB,AE,United Arab Emirates,25.252778,55.364444
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,2013.0,3.0,SYDA82546,FJR,Fujairah,FJR,AE,United Arab Emirates,25.112225,56.323964

In [45]:
pax_airport2 = pan.DataFrame(whole_data.groupby(['arr_port_y','CityName']).sum())

In [46]:
pax_airport2.head(5)

                                    pax    year  month       val1       val2
arr_port_y CityName
#AAA       Logan County Airport     1.0  2013.0    3.0  40.158654 -89.335095
#ADU       Audubon County Airport   1.0  2013.0    3.0  41.701376 -94.920542
#AGR       Rucks Dairy Airport      1.0  2013.0    3.0  27.701419 -81.448963
#AIG       Langlade County Airport  1.0  2013.0    3.0  45.155523 -89.109001
#ANE       Anoka County Airport     1.0  2013.0    3.0  45.144688 -93.211059

In [47]:
final_tab2 = pan.DataFrame(pax_airport2, columns=['pax']).sort_values(by ='pax',ascending=0)

In [48]:
final_tab2.head(10)

                                        pax
arr_port_y CityName
DIM        Dimbokro                    21.0
DJO        Daloa                       21.0
COO        Cotonou                      8.0
AMN        Gratiot Community Airport    7.0
FRM        Fairmont Municipal Airport   7.0
BUQ        Bulawayo Airport             6.0
GRZ        Graz-Thalerhof-Flughafen     6.0
MSQ        Minsk                        6.0
YHM        Hamilton Airport             6.0
SRC        Searcy Municipal Airport     6.0